# Local Python environment
.venv/
*.pyc
__pycache__/

# ROMs
roms/*.gb

# Models & Logs
models/
logs/

# Environment lock files (optional)
.python-version

# OS-specific junk
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class

# Environments
.env
.envrc
env/
venv/
ENV/
env.bak/
venv.bak/

# C extensions
*.so

# Test / coverage
.tox/
.nox/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.hypothesis/

# IDE/editor-specific
.idea/
.vscode/
.spyderproject
.spyproject

# Build artifacts
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Notebooks
.ipynb_checkpoints

# Pyre
.pyre/
